@if(isLoader){
    <app-loader loaderDivHeight="80vh"></app-loader>
}@else {
    <div class="mb-10">
        <h1 class="text-center text-3xl text-indigo-600 font-semibold mb-2 font-serif">Add DropDown Option</h1>
        <div class="my-10 grid grid-cols-12 gap-4">
            <div class="col-span-10">
                <input type="text" id="option" (keyup)="handleChangeOption($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Here write your dropdown option..." required />
            </div>
            <button (click)="onSubmit()" [disabled]="isDisabled" [class.cursor-not-allowed]="isDisabled===true" [class.cursor.pointer]="isDisabled===false" class="col-span-2 bg-indigo-600 px-5 py-2 rounded-lg text-white">
                Add
            </button>
        </div>
        
        <div class="flex justify-between">
    
            <div class="relative">
                <button (click)="toggleDropdown()" class="block text-indigo-600 border-2 border-indigo-600 font-medium rounded-lg text-sm md:w-[200px] w-full sm:w-auto px-5 py-2.5 text-center">
                {{ dropdownValue }}
                </button>
        
                
                <div *ngIf="dropdownOptions.length>0">
                    <div *ngIf="dropdownOpen" class="absolute top-12 p-2 sm:w-[200px] w-auto bg-white border border-gray-300 rounded-lg shadow-lg">
                        @for (item of dropdownOptions; track $index) {
                            <button (click)="updateButtonValue(item.option)" [class.bg-indigo-600]="dropdownValue === item.option" [class.text-white]="dropdownValue === item.option" [class.transparent]="dropdownValue !== item.option" value={{item.option}} class="block w-full text-gray-600 border border-gray-300 my-1 py-1 px-2 rounded-lg">
                                {{ item.option }}
                            </button>
                        }
                    </div>
                </div>
            </div>
    
            <button (click)="isSettingsOpen=!isSettingsOpen" class="block text-indigo-600 border-2 border-indigo-600 font-medium rounded-lg text-sm md:w-[250px] w-full sm:w-auto px-5 py-2.5 text-center">
                @if(isSettingsOpen==true){
                    Close Dropdown Settings
                }@else {
                    Open Dropdown Settings
                }
            </button>
    
        </div>
    </div>
    
    
    <div *ngIf="isSettingsOpen===true" class="mb-10">
        <h1 class="text-center text-3xl text-indigo-600 font-semibold mb-10 font-serif">Edit & Delete DropDown Option</h1>
        
        <div *ngIf="dropdownOptions.length === 0">
            <p class="text-center text-gray-600 mb-2 py-1 px-2 rounded-lg border-2 border-gray-300">
                There is no dropdown option!
            </p>
        </div>
        
        <div *ngFor="let item of dropdownOptions; let i = index">
            <ng-container *ngIf="isEdit !== i">
                <div class="grid grid-cols-2 gap-5 mb-2">
                    <p [class.border-green-600]="isEdit === i" class="text-center text-gray-600 mb-2 py-1 px-2 rounded-lg border-2 border-gray-300">
                        {{ item.option }}
                    </p>
                    <div>                    
                        <button (click)="startEditing(i, item._id)" class="bg-green-600 w-32 py-1 mx-2 rounded-md text-white">Edit Option</button>
                        <button (click)="deleteOption(item._id)" class="bg-red-600 w-32 py-1 mx-2 rounded-md text-white">Delete Option</button>
                    </div>
        
                </div>
            </ng-container>
            <ng-container *ngIf="isEdit === i">
                <div class="grid grid-cols-2 gap-5 mb-2">
    
                    <input type="text" name={{item.option}} [(ngModel)]="item.option" [class.border-green-600]="isEdit===i" class="px-2 py-1 mb-2 text-center bg-gray-50 border-2 border-gray-300 text-gray-900 rounded-lg focus:ring-indigo-500 focus:border-indigo-500" placeholder="Edit option..." />
    
                    <div>
                        <button (click)="updateOption(item._id, item.option)" class="bg-indigo-600 w-32 py-1 mx-2 rounded-md text-white">Update</button>
                        <button (click)="cancelEditing()" class="bg-gray-600 w-32 py-1 mx-2 rounded-md text-white">Cancel</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    
    
    <div>
        <h1 class="text-center text-2xl text-indigo-600 font-semibold mb-2 font-serif">Add Options Data</h1>
        <div class="my-10 grid grid-cols-12 gap-4">
            
            <div class="col-span-5">
                <input type="text" id="optionData" [(ngModel)]="optionDataValue" (ngModelChange)="isEmptyDataInput = optionDataValue.trim().length === 0" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Here write your option data..." required />
            </div>
    
            <div class="relative col-span-5">
                <button (click)="toggleChildDropdownOpen()" class="block text-indigo-600 border-2 border-indigo-600 font-medium rounded-lg text-sm md:w-[200px] w-full sm:w-auto px-5 py-2.5 text-center">
                    {{ childDropdownValue }}
                </button>
        
                
                <div *ngIf="dropdownOptions.length>0">
                    <div *ngIf="isChildDropdownOpen" class="absolute top-12 p-2 sm:w-[200px] w-auto bg-white border border-gray-300 rounded-lg shadow-lg">
                        <button (click)="toggleChildDropdown(-1, 'Country')" [class.bg-indigo-600]="childDropdownValue === 'Country'" [class.text-white]="childDropdownValue === 'Country'" [class.transparent]="childDropdownValue !== 'Country'" value='Country' class="block w-full text-gray-600 border border-gray-300 mb-2 py-1 px-2 rounded-lg">
                            Country
                        </button>
                        @for (item of dropdownOptions; track $index) {
                            <button (click)="toggleChildDropdown(item._id, item.option)" [class.bg-indigo-600]="childDropdownValue === item.option" [class.text-white]="childDropdownValue === item.option" [class.transparent]="childDropdownValue !== item.option" value={{item.option}} class="block w-full text-gray-600 border border-gray-300 mb-2 py-1 px-2 rounded-lg">
                                {{ item.option }}
                            </button>
                        }
                    </div>
                </div>
            </div>
            
            <button (click)="addOptionData()" [disabled]="isButtonDisabled()" [class.cursor-not-allowed]="isButtonDisabled()" [class.cursor.pointer]="isButtonDisabled()" class="col-span-2 bg-indigo-600 px-5 py-2 rounded-lg text-white">
                Add Data
            </button>
    
        </div>
    
        @if(loading){
            <app-loading></app-loading>
        }@else {
            <div class="my-20">
        
                <div class="grid grid-cols-12 my-10 gap-5">
                    
                    <div class="col-span-3">
                        @for (item of dropdownOptions; track $index) {
                            <button (click)="toggleOptionDataSelected(item._id)" class="block my-2 w-full bg-indigo-600 px-5 py-2 rounded-lg text-white">
                                {{item.option}}
                            </button>
                        }
                    </div>
        
                    <div class="col-span-9 border-2 rounded-lg border-indigo-300">
                        @if (OptionSelected === "" || OptionSelected === null || OptionSelected === undefined) {
                            <div class="flex justify-center items-center h-full text-indigo-600 font-semibold">
                                Select an option to see the data!
                            </div>
                        }@else {
                            @if(!isOptionHasData){
                                <div class="flex justify-center items-center h-full text-indigo-600 font-semibold">
                                    There is no data for this option!
                                </div>
                            }@else {
                                <ul class="p-3 list-decimal list-inside">
                                        @for (option of optionData; track option; let  i = $index) {    
                                            @if(option.optionId === OptionSelected){
                                            <li class="flex justify-between font-semibold border-2 border-gray-300 rounded-md p-2">
                                                <ng-container *ngIf="isEditNestedOption !== i || isEditNestedOption === null">
                                                    <div class="flex justify-between w-full">
                                                        <p [class.border-green-600]="isEditNestedOption === i" class="text-lg text-center text-gray-600">
                                                            {{ option.data }}
                                                        </p>
                                                        <div>
                                                            <button (click)="startEditingNestedOption(i, option._id)" class="bg-green-600 px-2 py-1 mx-1 rounded-md text-white">
                                                                <fa-icon [icon]="penIcon" class="text-md"></fa-icon>
                                                            </button>
                                                            <button (click)="deleteNestedOption(option._id)" class="bg-red-600 px-2 py-1 mx-1 rounded-md text-white">
                                                                <fa-icon [icon]="trashIcon" class="text-md"></fa-icon>
                                                            </button>
                                                        </div>
                                            
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="isEditNestedOption === i">
                                                    <div class="flex justify-between w-full px-1">
                                        
                                                        <input type="text" name={{option.data}} [(ngModel)]="option.data" [class.border-green-600]="isEditNestedOption===i" class="px-2 py-1 text-center bg-gray-50 border-2 border-gray-300 text-gray-900 rounded-lg focus:ring-indigo-500 focus:border-indigo-500" placeholder="Edit option..." />
                                        
                                                        <div>
                                                            <button (click)="updateNestedOption(option._id, option.data)" class="bg-indigo-600 px-2 py-1 mx-1 rounded-md text-white">
                                                                <fa-icon [icon]="checkIcon" class="text-md"></fa-icon>
                                                            </button>
                                                            <button (click)="cancelEditingNestedOption()" class="bg-gray-600 px-2 py-1 mx-1 rounded-md text-white">
                                                                <fa-icon [icon]="xmarkIcon" class="text-md"></fa-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        }
                    </div>
                    
        
                </div>
        
            </div>
        }
    </div>
}