<h1 class="text-indigo-600 text-center" style="font-size: 25px; font-weight: bold;">Data Grid</h1>


<dx-data-grid
  id="gridContainer"
  [dataSource]="productsData"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  [width]="'100%'"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 20, 30]"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <!-- <dxi-column caption="Tilte" dataField="tilte" [groupIndex]="0"></dxi-column> -->
  <dxi-column caption="Std" dataField="id" ></dxi-column>
  <dxi-column caption="Tilte" dataField="title" ></dxi-column>
  <dxi-column
    dataField="price"
    caption="Price"
    dataType="number"
    format="currency"
    alignment="right"
  ></dxi-column>
  <dxi-column caption="Discount %" dataField="discountPercentage" dataType="number"></dxi-column>
  <dxi-column caption="Stock" dataField="stock" dataType="number"></dxi-column>
  <dxi-column
    caption="Rating"
    dataField="rating"
    cellTemplate="discountCellTemplate"
    dataType="number"
    format="percent"
    alignment="right"
    [allowGrouping]="false"
    cssClass="bullet"
  ></dxi-column>
  <dxi-column caption="Brand" dataField="brand" dataType="string"></dxi-column>
  <dxi-column caption="Category" dataField="category" dataType="string" [width]="150"></dxi-column>
  <dxi-column caption="Description" dataField="description"></dxi-column>

  <div *dxTemplate="let d of 'discountCellTemplate'">
    <div class="chart-cell">
      <dx-bullet
        [showTarget]="false"
        [showZeroLevel]="true"
        [startScaleValue]="0"
        [endScaleValue]="100"
        [value]="d.value * 100"
      >
        <dxo-size [width]="150" [height]="35"></dxo-size>
        <dxo-tooltip
          [enabled]="true"
          [paddingTopBottom]="2"
          [customizeTooltip]="customizeTooltip"
        >
          <dxo-font [size]="18"></dxo-font>
        </dxo-tooltip>
        <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
      </dx-bullet>
    </div>
  </div>
</dx-data-grid>


<app-chart [data]="productsData"></app-chart>