<div class="row">
  <div class="col-8">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="multifiles">Upload files</label>
    <input type="file" multiple (change)="selectFiles($event)" id="multifiles" class="block w-full text-md text-gray-900 file:bg-black file:text-white border border-gray-300 rounded-lg cursor-pointer bg-gray-50">
  </div>
  
  <div class="col-4">
    <button
      class="py-2 px-5 my-4 rounded-lg text-white bg-green-700"
      [disabled]="!selectedFiles || selectedFiles.length === 0"
      [class.cursor-not-allowed] = "!selectedFiles || selectedFiles.length === 0"
      (click)="uploadFiles()"
    >
      Upload
    </button>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header text-indigo-600 font-semibold mb-5">List of Files</div>
  <ul class="list-group list-group-flush">
    @if (!fileInfos){
      <li class="list-group-item bg-white py-1 ps-5 rounded-lg mb-4">No files selected</li>
    }
    @else {
      <!-- @for (file of fileInfos.reverse(); track file.name) { -->
      @for (file of fileInfos.slice().reverse(); track $index) {
        <li class="list-group-item flex justify-between bg-white py-2 ps-5 border-2 border-x-indigo-600 rounded-lg mb-4">
          <p>{{ file.file.split("files\\")[1] }}</p>
          <div>
            <a href={{file.file}} download>
              <fa-icon [icon]="faDownload" class="text-lg mr-5 text-blue-600"></fa-icon>  
            </a>
            <button (click)="deleteFile(file)">
              <fa-icon [icon]="faTrash" class="text-lg mr-5 text-red-600"></fa-icon>
            </button>
          </div>
        </li>
      }
    }
  </ul>
</div>
