@if(isLoader){
    <app-loader loaderDivHeight="80vh"></app-loader>
}@else {
<div *ngIf="userDetails" class="relative overflow-x-auto dark:bg-gray-700">
    <ng-container *ngFor="let user of userDetails; let i = index ">
        <div class="grid grid-cols-12 p-5 gap-5 mb-4 border-2 shadow-md sm:rounded-lg">
            <div class="col-span-8">
                <h1 class="text-2xl text-indigo-600 font-bold">{{user.firstname + " " + user.lastname}}</h1>
                <h3 class="text-sm mb-12 text-gray-400 font-semibold">{{user.email}}</h3>
                @if(user.religion){
                    <p class="my-1 text-gray-600"><span class="font-semibold text-gray-700">Religion:</span> {{user.religion}}</p>
                }
                @if(user.phoneNo){
                    <p class="my-1 text-gray-600"><span class="font-semibold text-gray-700">Phone No:</span> {{user.phoneNo}}</p>
                }
                @if(user.gender){
                    <p class="my-1 text-gray-600"><span class="font-semibold text-gray-700">Gender:</span> {{user.gender}}</p>
                }
                @if(user.websiteUrl){
                    <p class="my-1 text-gray-600"><span class="font-semibold text-gray-700">Website Url:</span> {{user.websiteUrl}}</p>
                }
                @if(user.company){
                    <p class="my-1 text-gray-600"><span class="font-semibold text-gray-700">Company:</span> {{user.company}}</p>
                }
                @if(user.createdAt){
                    <p class="my-1 text-gray-600"><span class="font-semibold text-gray-700">Created at:</span> {{user.createdAt.split("T")[0]}}</p>
                }
            </div>
            <div class="col-span-4 p-4">
                <img src={{user.profileImg}} class=" rounded-lg" alt="">
            </div>
        </div>
    </ng-container>
</div>
}